/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
# .env Para fins de facilitar avaliação o .env foi adicionado ao repositório, mas em um cenário real ele deve ser ignorado.
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
